<section class="state-directory" data-speed="2" data-type="background">
	<div class="container">
		<div class="row margin-top-18px state-directory">
			<h4>Find Startups Near You</h4>
			<div class="col-xs-3 state-list">
				<p><a href="{{ gibs.application_url }}s/Alabama">Alabama (27)</a></p>
				<p><a href="{{ gibs.application_url }}s/Alaska">Alaska (14)</a></p>
				<p><a href="{{ gibs.application_url }}s/Arizona">Arizona (11)</a></p>
				<p><a href="{{ gibs.application_url }}s/Arkansas">Arkansas (9)</a></p>
				<p><a href="{{ gibs.application_url }}s/California">California (235)</a></p>
				<p><a href="{{ gibs.application_url }}s/Colorado">Colorado</a></p>
				<p><a href="{{ gibs.application_url }}s/Connecticut">Connecticut</a></p>
				<p><a href="{{ gibs.application_url }}s/Delaware">Delaware</a></p>
				<p><a href="{{ gibs.application_url }}s/Florida">Florida</a></p>
				<p><a href="{{ gibs.application_url }}s/Georgia">Georgia</a></p>
				<p><a href="{{ gibs.application_url }}s/Hawaii">Hawaii</a></p>
				<p><a href="{{ gibs.application_url }}s/Idaho">Idaho</a></p>
				<p><a href="{{ gibs.application_url }}s/Illinois">Illinois</a></p>
			</div>
			<div class="col-xs-3 state-list">
				<p><a href="{{ gibs.application_url }}s/Indiana">Indiana</a></p>
				<p><a href="{{ gibs.application_url }}s/Iowa">Iowa</a></p>
				<p><a href="{{ gibs.application_url }}s/Kansas">Kansas</a></p>
				<p><a href="{{ gibs.application_url }}s/Kentucky">Kentucky</a></p>
				<p><a href="{{ gibs.application_url }}s/Louisiana">Louisiana</a></p>
				<p><a href="{{ gibs.application_url }}s/Maine">Maine</a></p>
				<p><a href="{{ gibs.application_url }}s/Maryland">Maryland</a></p>
				<p><a href="{{ gibs.application_url }}s/Massachusetts">Massachusetts</a></p>
				<p><a href="{{ gibs.application_url }}s/Michigan">Michigan</a></p>
				<p><a href="{{ gibs.application_url }}s/Minnesota">Minnesota</a></p>
				<p><a href="{{ gibs.application_url }}s/Mississippi">Mississippi</a></p>
				<p><a href="{{ gibs.application_url }}s/Missouri">Missouri</a></p>
				<p><a href="{{ gibs.application_url }}s/Montana">Montana</a></p>
			</div>
			<div class="col-xs-3 state-list">
				<p><a href="{{ gibs.application_url }}s/Nebraska">Nebraska</a></p>
				<p><a href="{{ gibs.application_url }}s/Nevada">Nevada</a></p>
				<p><a href="{{ gibs.application_url }}s/New_Hampshire">New Hampshire</a></p>
				<p><a href="{{ gibs.application_url }}s/New_Jersey">New Jersey</a></p>
				<p><a href="{{ gibs.application_url }}s/New_Mexico">New Mexico</a></p>
				<p><a href="{{ gibs.application_url }}s/New_York">New York</a></p>
				<p><a href="{{ gibs.application_url }}s/North_Carolina">North Carolina</a></p>
				<p><a href="{{ gibs.application_url }}s/North_Dakota">North Dakota</a></p>
				<p><a href="{{ gibs.application_url }}s/Ohio">Ohio</a></p>
				<p><a href="{{ gibs.application_url }}s/Oklahoma">Oklahoma</a></p>
				<p><a href="{{ gibs.application_url }}s/Oregon">Oregon</a></p>
				<p><a href="{{ gibs.application_url }}s/Oregon">Pennsylvania</a></p>
			</div>
			<div class="col-xs-3 state-list">
				<p><a href="{{ gibs.application_url }}s/Rhode_Island">Rhode Island</a></p>
				<p><a href="{{ gibs.application_url }}s/South_Carolina">South Carolina</a></p>
				<p><a href="{{ gibs.application_url }}s/South_Dakota">South Dakota</a></p>
				<p><a href="{{ gibs.application_url }}s/Tennessee">Tennessee</a></p>
				<p><a href="{{ gibs.application_url }}s/Texas">Texas</a></p>
				<p><a href="{{ gibs.application_url }}s/Utah">Utah</a></p>
				<p><a href="{{ gibs.application_url }}s/Vermont">Vermont</a></p>
				<p><a href="{{ gibs.application_url }}s/Virginia">Virginia</a></p>
				<p><a href="{{ gibs.application_url }}s/Washington">Washington</a></p>
				<p><a href="{{ gibs.application_url }}s/West_Virginia">West Virginia</a></p>
				<p><a href="{{ gibs.application_url }}s/Wisconsin">Wisconsin</a></p>
				<p><a href="{{ gibs.application_url }}s/Wyoming">Wyoming</a></p>
			</div>
		</div>
	</div>
</section>
