{% if user.photo_url is not none %}
	<img src="{{ gibs.images_url }}{{ user.photo_url }}" alt="{{ user.fullname }} thumbnail" class="img-rounded img-responsive browse-thumb" width="100%">
{% else %}
	<img src="{{ gibs.images_url }}user.svg" alt="{{ user.fullname }} thumbnail" class="img-rounded img-responsive browse-thumb" width="100%">
{% endif %}
