{% if startup.logo_url is not none %}
	<img class="imager" src="{{ gibs.images_url }}{{ startup.logo_url }}" alt="{{ startup.name }} thumbnail" class="img-rounded img-responsive browse-thumb" width="100%">
{% else %}
	<img class="imager" src="{{ gibs.images_url }}startup.png" alt="{{ startup.name }} thumbnail" class="img-rounded img-responsive browse-thumb" width="100%">
{% endif %}
