
	<div class="row right-focus">
		<div class="row">
			<div class="col-md-8 col-md-offset-4">
				<h5 class="right-focus-heading">
					Trending
				</h5>
			</div>
		</div>
		{% for startup in gibs.sidebar_startups %}
			<div class="row margin-top-8px margin-bottom-8px">
				<div class="col-md-4">
					<a href="{{ gibs.application_url }}startup/{{ startup.local_url }}">
						{% include "./image_startup.jinja2" %}
					</a>
				</div>
				<div class="col-md-8">
					<h5 class="right-focus-subheading">
						<a href="{{ gibs.application_url }}startup/{{ startup.local_url }}">
							{{ startup.name }}
						</a>
					</h5>
					<p class="right-focus">
						{{ startup.short_info[0:150] }}
					</p>
				</div>
			</div>
		{% endfor %}
	</div>
