{% extends "../base.jinja2" %}
{% block title %}
Browsing startups at
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="header-spacer"></div>
	<div class="col-sm-9">

		<div class="row">
			<div class="col-md-12">
					<h3 class="margin-bottom-40px">
						Browsing startups at StartupDex
					</h3>
			</div>
		</div>

	{% for startup in startups %}
					<div class="row">
						<div class="col-xs-3 frontpage-focus-image">
								<a href="{{ gibs.application_url }}startup/{{ startup.local_url }}">
									{% include "../snips/image_startup.jinja2" %}
								</a>
						</div>
						<div class="col-xs-6">
								<a href="{{ gibs.application_url }}startup/{{ startup.local_url }}">
									<h3>{{ startup.name }}</h3>
								</a>
								{% if startup.short_info %}
									<p>{{ startup.short_info[:500] }}
									</p>
								{% endif %}
						</div>
						<div class="col-xs-3">
							<div class="frontpage-focus-location-block">
									<p class="frontpage-focus-location">
										<a href="{{ gibs.application_url }}c/{{ startup.city }}">
											{{ startup.city if startup.city }}
										</a>
									</p>
									<p class="frontpage-focus-location">
										<a href="{{ gibs.application_url }}s/{{ startup.state_province }}">
											{{ startup.state_province if startup.state_province }}
										</a>
									</p>
									<p class="frontpage-focus-location">
										<a href="{{ gibs.application_url }}n/{{ startup.country }}">
											{{ startup.country if startup.country }}
										</a>
									</p>
							</div>
						</div>
					</div>

	{% endfor %}

	<div class="row">
		<div class="col-md-12">
			<nav>
				<ul class="pagination">
					<li {{ 'class=disabled' if page == 1 }}>
						{% if page != 1 %}
							<a href="{{ gibs.application_url }}browse?page={{page-1}}" aria-label="Previous">
						{% endif %}
						<span aria-hidden="true">&laquo;</span>
					</a></li>
					{% for i in range(1, num_pages+1) %}
					<li {{ 'class=active' if page == i }}>
						<a
						{% if page != i %}
							href="{{ gibs.application_url }}browse?page={{i}}"
						{% endif %}
						>
							{{ i }}
						</a></li>
					{% endfor %}
					<li {{ 'class=disabled' if page == num_pages }}>
						{% if page != num_pages %}
							<a href="{{ gibs.application_url }}browse?page={{page+1}}" aria-label="Next">
						{% endif %}
							<span aria-hidden="true">&raquo;</span>
						</a></li>
				</ul>
			</nav>


		</div>
	</div>
	</div>

	<div class="hidden-xs hidden-sm col-md-3">
		{% include "../snips/startups_sidebar.jinja2" %}
	</div>
	</div>
</div>

{% endblock content %}
