
{% set navigation_bar  = [
	('modify_startup', 'modify_startup', 'Basic Profile'),
	('modify_social', 'social', 'Social Links & Contact'),
	('modify_startup_delete', 'delete', 'Hide/Delete'),
] -%}
	{#('modify_locations', 'locations', 'Search Visibility'),#}
	{#('modify_owners', 'owners', 'Owners'),#}

<div role="tabpanel">
	<ul class="nav nav-tabs" role="tablist">
		{% for href, page_id, caption in navigation_bar %}
		<li role="presentation" {% if page_id == active_tab %} class="active" {% endif %}><a href="{{ gibs.application_url }}{{ href|e }}/{{ startup.id }}" role="tab">{{ caption|e }}</a></li>
		{% endfor %}
	</ul>
</div>
