{% if article.photo_url is not none %}
	<img src="{{ gibs.images_url }}{{ article.photo_url }}" alt="{{ article.title }} thumbnail" class="img-rounded img-responsive browse-thumb" width="100%">
{% else %}
	{#<img src="{{ gibs.images_url }}article.png" alt="{{ article.title }} thumbnail" class="img-rounded img-responsive browse-thumb" width="100%">#}
{% endif %}
