{% extends "../base.jinja2" %}
{% block title %}
Settings at
{% endblock %}


{% block left_focus %}


<div class="container">
	<div class="row">
{% set active_tab = 'modify_article' %}
{% include "modify_tabs.jinja2" %}

			<div class="col-sm-9 col-sm-offset-1">
				<br />
				<h3 class="settings_editable">Modifying {{ article.title }}</h3>
							<a href="{{ gibs.application_url }}upload_article_photo/{{ article.id }}">
						<button class="btn btn-default" id="enable-changes" type="submit"><i class="glyphicon glyphicon-camera"></i> Change Article Photo</button>
						</a>
				<br />
				<br />

					<input type="hidden" name="articleid" id="articleid" value="{{ article.id }}" />
					<input type="hidden" name="userid" id="userid" value="{{ user.id }}" />
			<input type="hidden" name="userid" id="userid" value="{{ user.id }}" />
					<table class="table">
						<tr>
							<td class="col-xs-3 col-sm-2">Article is About</td>
							<td>
								<select id="about" name="about">
									{% for startup in startups %}
										<option value="{{ startup.id }}">{{ startup.name }}</option>
									{% endfor %}
									<option value="aboutme">Personal Writing/Editorial</option>
								</select>
							</td>
						</tr>
						<tr>
							<td class="col-xs-3 col-sm-2">Search Tags</td>
							<td><input type="text" name="tags" class="tags" value="{{ article.tags }}" /></td>
						</tr>
						<tr>
							<td class="col-xs-3 col-sm-2">Title</td>
							<td><input type="text" name="title" class="title" value="{{ article.title }}" /></td>
						</tr>
						<tr>
							<td class="col-xs-3 col-sm-2">Lead Text/<br />Article Preview</td>
							<td><textarea class="form-control lead_text" name="lead_text" rows="2" >{{ article.lead_text }}</textarea></td>
						</tr>
						<tr>
							<td class="col-xs-3 col-sm-2">Story</td>
							<td><textarea class="form-control story" name="story" rows="10" >{{ article.story }}</textarea></td>
						</tr>
						<tr>
							<td class="col-xs-3 col-sm-2"><button class="btn btn-default" id="save-changes" type="submit" disabled><i class="glyphicon glyphicon-ok"></i> Save Changes</button></td>
							<td><button class="btn btn-default" id="cancel-changes" type="submit" disabled><i class="glyphicon glyphicon-remove"></i> Cancel Changes</button></td>
						</tr>
					</table>
	
	
			</div>
	</div>
</div>

{% endblock left_focus %}

{% block right_focus %}
{% endblock right_focus %}
