{% extends "../base.jinja2" %}
{% block title %}
{{ article.name }} at
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="header-spacer"></div>
		<div class="col-md-9">
			<div class="well well-sm">
				<div class="row">
					<div class="col-xs-3">
						{% include "../snips/image_article.jinja2" %}
					</div>

					<div class="col-xs-9">
						<h3>{{ article.title }}</h3>
						<p>{{ article.lead_text }}</p>
						<p>{{ article.story }}</p>


					</div>
				</div>
			</div>
		</div>
		<div class="hidden-xs hidden-sm col-md-3">
			{% include "../snips/startups_sidebar.jinja2" %}
		</div>
	</div>
</div>




{% endblock content %}
