{% extends "admin_base.jinja2" %}
{% block title %}
Database - angel.co administration at
{% endblock %}

{% block left_focus %}
{% set active_tab = 'db_angelco' %}
{% include "admin_tabs.jinja2" %}
	<div class="row bottom-buffer-12px">
		<div class="col-md-12">
				<h3>
					Database management for angel.co interfacing
				</h3>
				<h5>
					Go back and look into extractin country, state, etc from angelco
				</h5>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<p>
				first angelco listing: {{ angelco_first_listing.id }}
			</p>
			<p>
			last angelco listing: {{ angelco_last_listing.id }}
			</p>
			<p>
				first Startupdex listing: {{ startupdex_first_listing.id }}
			</p>
			<p>
			last Startupdex listing: {{ startupdex_last_listing.id }}
			</p>
			<label for="angelco-rangestart">input start range</label>
			<input type="text" id="angelco-rangestart" name="angelco-rangestart" placeholder="rangestart" value="{{ angelco_last_listing.id + 1}}" />
			<br />
			<label for="angelco-rangei">input range width</label>
			<input type="text" id="angelco-rangei" name="angelco-rangei" placeholder="rangei" value="50" />
			<br />
			<br />
		</div>
		<div class="col-md-8">
			<br />
			<br />
			<br />
			<button type="button" class="btn btn-success" id="angelco-get-some">Collect data from angel.co</button>
			<br />
			<br />
			<button type="button" class="btn btn-warning" id="angelco-push-to-startupdex">Push data to Startupdex</button>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div id="angelco-results">
				<p>
					Last entries from Startupdex:
				</p>
			</div>
		</div>
	</div>

	{% for startup in startupdex_update_point_list %}
		<div class="row bottom-buffer-12px">
						<div class="col-md-3">
							<img src="{{ gibs.images_url }}apple2.jpg" alt="apple2.jpg" class="img-rounded img-responsive browse-thumb" width="100%">
						</div>
						<div class="col-md-9">
							<h5 class="browse-startup-heading">
								ID :: {{ startup.id }} ::
								{{ startup.name }}
								<a href="{{ gibs.application_url }}startup/{{ startup.local_url }}">
									>> link
								</a>
								<p>{{ startup.about }}</p>
								<p>{{ startup.short_info }}</p>
							</h5>
				<p>
					short_info from the database goes here. 
					{{ startup.short_info }}
				</p>
			</div>
		</div>
	{% endfor %}


	<div class="row">
		<div class="col-md-12">
			<div id="angelco-results">
				<p>
					Last entries from AngelCoMirror:
				</p>
			</div>
		</div>
	</div>

	{% for startup in angelcomirror_update_point_list %}
		{% if startup.name %}
		<div class="row bottom-buffer-12px">
						<div class="col-md-3">
							<img src="{{ startup.logo_url }}" alt="{{ startup.local_url }}" class="img-rounded img-responsive browse-thumb" width="100%">
						</div>
						<div class="col-md-9">
							<h5 class="browse-startup-heading">
								{{ startup.name }}
								<br>
								id :: {{ startup.id }}
								<br>
								Startupdex_id :: {{ startup.startupdex_id }}
								<a href="{{ gibs.application_url }}startup/{{ startup.local_url }}">
									>> link
								</a>
							</h5>
				<p>
					{{ startup.short_info }}
				</p>
			</div>
		</div>
		{% endif %}
	{% endfor %}

	{#<div class="row">#}
		{#<div class="col-md-12">#}
			{#<button type="button" class="btn btn-default"></button>#}
			{#<button type="button" class="btn btn-primary"></button>#}
			{#<button type="button" class="btn btn-info"></button>#}
			{#<button type="button" class="btn btn-warning"></button>#}
			{#<button type="button" class="btn btn-danger"></button>#}
		{#</div>#}
	{#</div>#}


{% endblock left_focus %}
