{% extends "../base.jinja2" %}
{% block title %}
Settings at
{% endblock %}

{% block content %}

<div class="container">
<div class="row">
	{% set active_tab = 'startups' %}
	{% include "manage_tabs.jinja2" %}
</div>
<div class="row">
	<div class="col-xs-12">
		<br />
		<h3 class="settings_editable">Manage Startups</h3>
			<a class="btn btn-default" href="{{ gibs.application_url }}create_startup"><i class="glyphicon glyphicon-plus-sign"></i> Add a Startup</a>
		<br />
		<br />

		{% if startups is none %}
		<p>
			You currently have no startups.
		</p>
		{% else %}
			<div class="well well-sm well-manage">
				<h3 class="subhead-manage">Your Listed Startups</h3>
				{% for startup_row in startups | batch(6) %}
				<div class="row">
					{% for startup in startup_row %}
						<div class="col-sm-2" data-sr>
							<p>
								<a href="{{ gibs.application_url }}startup/{{ startup.local_url }}">
									<h4 class="text-center">{{ startup.local_url }}</h4>
									{% include "../snips/image_startup.jinja2" %}
								</a>
							</p>
							<p>
								<a class="btn btn-default" href="{{ gibs.application_url }}modify_startup/{{ startup.id }}"><i class="glyphicon glyphicon-cog"></i> Modify</a>
							</p>
					
						</div>
					{% endfor %}
				</div>
				{% endfor %}
			</div>
		{% endif %}



	</div>
</div>
</div>



{% endblock content %}

