{% extends "../base.jinja2" %}
{% block title %}
Settings at
{% endblock %}


{% block content %}

<div class="container">
	<div class="row">
		{% set active_tab = 'password' %}
		{% include "modify_tabs.jinja2" %}
	</div>
	<div class="row">
			<div class="col-sm-9 col-sm-offset-1">
				<br />
				<h3 class="settings_editable">Password</h3>
				<br />
				<br />

				<form action="{{ gibs.application_url }}modify_password" method="POST">
					<input type="hidden" name="id" id="id" value="{{ user.id }}" disabled/>
					<table class="table">
						<tr>
							<td class="col-xs-3 col-sm-2">Current Password</td>
							<td><input type="password" name="password" class="password" placeholder="Current Password"/></td>
						</tr>
						<tr>
							<td class="col-xs-3 col-sm-2">New Password</td>
							<td><input type="password" name="new_password" class="new_password" placeholder="New Password"/></td>
						</tr>
						<tr>
							<td class="col-xs-3 col-sm-2">Verify New Password</td>
							<td><input type="password" name="verify_password" class="verify_password" placeholder="Verify New Password"/></td>
						</tr>
						<tr>
							<td class="col-xs-3 col-sm-2"><button class="btn btn-default" id="save-changes" type="submit" name="form.submitted" disabled><i class="glyphicon glyphicon-ok"></i> Update my Password</button></td>
							<td></td>
						</tr>
					</table>
				</form>
	
	
			</div>
	</div>
</div>


{% endblock content %}
