{% extends "../base.jinja2" %}
{% block title %}
{{ user.name }} at
{% endblock %}

{% block content %}
<div class="container">
<div class="row">
		<div class="header-spacer"></div>
<div class="well well-sm">
	<div class="row">
		<div class="col-xs-3">
			{% include "../snips/image_user.jinja2" %}
		</div>

		<div class="col-xs-9">
			<h3>{{ user.fullname }}</h3>
			<p>
				{% if user.city %}
					{{ user.city }}, 
				{% endif %}
				{{ user.country if user.country }}
			</p>
			{% if user.home_url %}
				<p>{{ user.home_url }}</p>
			{% endif %}
			{% if user.blog_url %}
				<p>{{ user.blog_url }}</p>
			{% endif %}

		</div>
	</div>
</div>
</div>

<div class="row">
	<div class="feed well well-sm">
		<h3>Feed and RSS</h3>
		{% for article_row in articles | batch(4, '&nbsp;') %}
		<div class="row">

			{% for article in article_row %}
			<div class="col-md-3" data-sr>
				<a href="#">
					{% include "../image/user.jinja2" %}
					<h4 class="text-center">{{ article.title }}</h4>
				</a>
				<p>
					{{ article.lead_text }}
				</p>
		
			</div>
			{% endfor %}

		</div>
		{% endfor %}
	</div>
</div>
</div>


{% endblock content %}
