{% extends "../base.jinja2" %}
{% block title %}
Register at
{% endblock %}

{% block left_focus %}


<div class="container">
	<div class="row">
	<div class="col-xs-12 col-md-8 col-md-offset-4">
	<div class="row">
		<div class="col-xs-12 ">
			<h1>New User Registration</h1>
		</div>
			
		<form action="{{ gibs.application_url }}register" method="POST">
			<input type="hidden" name="came_from" value="{{ came_from }}" />

			<div class="row">
				<div class="left">
					<label for="email">Email (used to login)</label>
				</div>
				<div class="right">
					<input type="text" id="email" name="email" value="{{ gibs.email }}" placeholder="Email" />
				</div>
			</div>
			<div class="row">
				<div class="left">
					<label for="verify_email">Verify email</label>
				</div>
				<div class="right">
					<input type="text" id="verify_email" name="verify_email" value="{{ gibs.verify_email }}" placeholder="Verify email" />
				</div>
			</div>

			<div class="row">
				<div class="left">
					<label for="password">Password</label>
				</div>
				<div class="right">
					<input type="password" id="password" name="password" value="" placeholder="Password" />
				</div>
			</div>
			<div class="row">
				<div class="left">
					<label for="verify_password">Verify password</label>
				</div>
				<div class="right">
					<input type="password" id="verify_password" name="verify_password" value="" placeholder="Verify password" />
				</div>
			</div>

			<div class="row">
				<div class="left">
					<label for="fullname">Full name</label>
				</div>
				<div class="right">
					<input type="text" id="fullname" name="fullname" value="{{ gibs.fullname }}" placeholder="Full name" />
				</div>
			</div>

			<div class="row">
				<div class="left">
					<label for="phone">Phone (optional)</label>
				</div>
				<div class="right">
					<input type="text" id="phone" name="phone" value="{{ gibs.phone }}" placeholder="Phone" />
				</div>
			</div>
			<div class="row">
				<div class="left">
					<label for="company">Company (optional)</label>
				</div>
				<div class="right">
					<input type="text" id="company" name="company" value="{{ gibs.company }}" placeholder="Company" />
				</div>
			</div>

			<div class="row">
				<div class="left"></div>
				<div class="right">
					<input type="submit" name="form.submitted" value="Register" class="submit btn btn-lg btn-primary"/>
				</div>
			</div>
		</form>



	</div>
	</div>
	</div>

</div>


{% endblock left_focus %}

{% block right_focus %}
{% endblock right_focus %}

