{% extends "base.jinja2" %}
{% block title %}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}


{% block left_focus %}
<div class="well well-sm">
	<div class="row">
		<div class="col-md-6">

			<div id="startup-carousel" class="carousel slide">
				<ol class="carousel-indicators">
					<li data-target="#startup-carousel" data-slide-to="0" class="active"></li>
					<li data-target="#startup-carousel" data-slide-to="1"></li>
					<li data-target="#startup-carousel" data-slide-to="2"></li>
				</ol>

				<div class="carousel-inner">
					<div class="item active">
						<img src="{{ gibs.static_url }}images/apple0.jpg" alt="apple0.jpg" class="img-responsive" width="100%">
					</div>
					<div class="item">
						<img src="{{ gibs.static_url }}images/apple1.jpg" alt="apple1.jpg" class="img-responsive" width="100%">
					</div>
					<div class="item">
						<img src="{{ gibs.static_url }}images/apple2.jpg" alt="apple2.jpg" class="img-responsive" width="100%">
					</div>
				</div>
				<a class="carousel-control left" href="#startup-carousel" data-slide="prev">
					<span class="icon-prev"></span>
				</a>
				<a class="carousel-control right" href="#startup-carousel" data-slide="next">
					<span class="icon-next"></span>
				</a>
			</div>

		</div>

		<div class="col-md-6">
			<h1>Startup company title</h1>

		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-12">
		<!--<img src="{{ gibs.static_url }}images/apple0.jpg" alt="apple.jpg" class="img-responsive" >-->
		<br>
		

	</div>
</div>



<div class="row">
	<div class="col-md-12">
		State directory
	</div>
</div>


{% endblock left_focus %}



{% block right_focus %}
{% endblock right_focus %}
