{% extends "base.jinja2" %}
{% block title %}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}


{% block left_focus %}

here will be things about the mailer


{% endblock left_focus %}



{% block right_focus %}
{{ super() }}
{% endblock right_focus %}
