.main-search {
	width: 800px;
}

h5.right-focus-heading {
	padding-top: 0;
	margin-top: 4px;
}
h5.right-focus-subheading {
	padding: 0;
	margin: 0;
}
p.right-focus {
	padding: 0;
	padding-bottom: 12px;
	margin: 0;
	font-size: 12px;
}

img.right-focus {
	padding-right: 4px;
}

img.browse-thumb {
	//padding-bottom: 10px;
}

browse-startup-heading {
	/*display: inline;*/
	/*margin: 0;*/
	/*padding: 0;*/
}

.bottom-buffer-12px {
	padding-bottom: 12px;
}

.selected-articles h3 {
	margin-top: 4px;
}

.feed h3 {
	margin-top: 4px;
}

.feed div {
	//padding-top: 14px;
	//background-color: #EEE;
}


