.main-search {
	width: 800px;
}

h5.right-focus-heading {
	padding-top: 0;
	margin-top: 4px;
}
h5.right-focus-subheading {
	padding: 0;
	margin: 0;
}
p.right-focus {
	padding: 0;
	padding-bottom: 12px;
	margin: 0;
	font-size: 12px;
}

img.right-focus {
	padding-right: 4px;
}

img.browse-thumb {
	//padding-bottom: 10px;
}

browse-startup-heading {
	/*display: inline;*/
	/*margin: 0;*/
	/*padding: 0;*/
}

.bottom-buffer-12px {
	padding-bottom: 12px;
}

.selected-articles h3 {
	margin-top: 4px;
}

.feed h3 {
	margin-top: 4px;
}

.feed div {
	//padding-top: 14px;
	//background-color: #EEE;
}

label {
	font-weight: normal;
}

div.left {
	display: inline-block;
	width: 160px;
	vertical-align: top;
	line-height: 55px;
	font-size: 16px;
	margin-left: 16px;
}
div.right {
	display: inline-block;
	vertical-align: top;
	line-height: 40px;
}
input.submit {
	margin-left: 150px;
}

input[type="text"], input[type="password"] {
	padding-left: 10px;
	width: 250px;
	//width: 100%;
}

.single-column {
	float: none;
}

span.flash {
	font-size: 18px;
	margin-bottom: 20px;
}


table.admin_update_user {
	//table-layout: auto;
	//width: 100%;
}
table.admin_update_user td {
	//white-space: nowrap;
}
table.admin_update_user td input {
	//white-space: nowrap;
	width: 100px;
	padding-left: 2px;
}
table.admin_update_user td.absorbing-column {
	//width: 99%;
}

h3.settings_editable {
	display: inline;
	margin-right: 35px;
}

html {
overflow-y: scroll;
}

.photo-preview {
	max-width: 100px;
	max-height: 100px;
	min-width: 80px;
	min-height: 80px;
	//margin-bottom: 50px;
}

.test-local-url {
	color: gray;
}




//scroller styling
.startup-search-scroller {
	display: inline-block;
	width: 100%;
    //white-space: nowrap;
    max-height: 400px;
}
.startup-scroller-result {
	height: 140px;
	width: 155px;
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 10px;
	overflow-y: auto;
}


.state-directory a {
	margin: 0px;
	padding: 0px;
}
.margin-top-0px {
	margin-top: 0px;
}
.margin-top-18px {
	margin-top: 18px;
}
.padding-top-0px {
	padding-top: 0px;
}
.margin-bottom-0px {
	margin-bottom: 20px;
}
.margin-bottom-12px {
	margin-bottom: 12px;
}
.margin-top-8px {
	margin-top: 8px;
}
.margin-bottom-8px {
	margin-bottom: 8px;
}


//state directory
div.state-directory {
	margin: 0px;
	padding: 0px;
	background-color: #bbb;
}
.state-listing {
	font-size: 18px;
}



